header {
    background-color: #153f6f;
    padding-bottom: 3px;
    height:60px;
    position:fixed;
    top: 0;
    opacity: 0.8;
    overflow:hidden;
    width:100%;
}
li,a, input  {
    text-decoration: none;
    background-color: #153f6f;
    border-color: #153f6f;
    border: none;
    font-size: 16px;
    color: white;
    font-family: Tahoma;
    display: inline;
    max-width: 100%;
    margin-left: 10px;
    cursor: pointer;
}

a.logo{
    margin-right: 900px;
    font-size: 20px;
    border-radius: 5px;
    border: dashed;
    padding: 10px 10px;
}

body{
    background-color: azure;
}

.main_container{
    margin: 200px 300px 0 300px;
    text-align: center;
    font-size: 25px;
    color: #000066;

}

.info{
    margin-top: 300px;
    font-size: 18px;
}
.mail{
        background-color: #336699;
}
P{
    margin-left: 230px;
    max-width:600px;
    margin-top: 100px;
}